.catsContainer{
    width: 100%;
    display: flex;
    text-align: center;
    padding-left: 10%;
    margin-left:14%;
}


.catsCard{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.catsTitle{
    width: 100%;
    font-family: 'Bangers', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
}


.catsLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Bangers', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}


.catsImg{
    width: 100%;
    border-radius: 5px;
}

.catsImg img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.catsName{
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}



.catsItem{
    
    width: 145px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 5px 10px;
    background-color: #fff; 
    padding: 14px;
    box-shadow: 1px 1px 4px 3px #4b8bb3;
    border-radius: 6px;
    /* margin-left: 40%; */
}


.catsInter{
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 3px #4b8bb3;
    padding: 3px 16px;
    background-color: #000;
}

.catsInterItem{
    margin: 4px;
    padding: 2px 2px;
    text-align: center;
    border-radius: 13px;
    
}


.catsIcon{
   
    text-align: center;
    background-color: #fff;
    padding: 6px;
    color: #000;
    border-radius: 50px;
    
    
}

.catsIcon:hover{
    background-color: #4b8bb3;
    color: #fff;
    transition: 0.3s;
}

.catsTotal{
    color: #fff;
}