.homeContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent{
    margin-top: 60px;
    margin-left: 50px;
    width: 50%;
}