.mainPostContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    
}

.formContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #B9D7EA;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 3px #4b8bb3;
    width: 45%;
}

.formContainer textarea{
    height: 120px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    resize: none;

}

.formTitle{
    font-family: 'Bangers', cursive;
    font-size: 1.8rem;
    
    margin:20px auto;
    text-decoration: underline;
    /* background-color: aquamarine; */
    padding: 10px;
    border-radius: 4px;
    letter-spacing: .5rem;

}

.form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.form input[type='text']{
    word-wrap:break-word ;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    background-color: #fff;
    border-radius: 4px;
    font-weight: bold;
    color:#000;
    
}

.form input[type='file'] {
    margin-bottom: 10px;
}


.postBtn{
    outline: none;
    background-color:#fff ;
    padding: 6px;
    border: none;
    border-radius: 6px;
    color: #4b8bb3;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 1px 1px 4px 3px #4b8bb3;
    margin-top: 10px;
    cursor: pointer;
}

.catSelect{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 4px;
    font-size: 1.1rem;
}

.postBtn:hover{
    background-color: #000;
    color: #4b8bb3;
    transition: 0.4s;
}


/* User post item and card */


.userPostsContainer{
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    background-color: #4b8bb3;
}

.userPost{
    background-color: #B9D7EA;
    padding: 8px;
    box-shadow: 1px 1px 4px 3px #000;
    border-radius: 3px;
}
.userPost h3{
    font-family: 'Bangers', sans-serif;
    letter-spacing: .1rem;
    margin-bottom: 6px;
}

.userPost span{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.postInterContainer{
    display: flex;
    width: 8%;
    margin-top: 10px;
    justify-content: space-between;
}

.postInter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* User post item and card */


@media screen and (max-width:821px) {
    .formContainer{
        width: 95%;
        /* padding: 0; */
        
    }
    .mainPostContainer{
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width:600px){
    .formContainer{
        width: 90%;
    }
}
